<!doctype html>
<head>
  <title>Clermont PCR </title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90466463-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'UA-90466463-4');
  </script>
  <!-- Add custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
</head>

<div class="container">
    <div class="row">
        <div class="col-12">
            {% block body %}
            {% endblock %}
        </div>
    </div>
</div>
